.incompleteBtn{
    background-color: green;
    border-radius: 12px;
    float: right;

}
.completeBtn {
    background-color: grey ;
    border-radius: 12px;
    float: right;
}
.completeBtn:hover{
    background-color: green;

}


.headerClass{
    text-align: center;
    text-transform: inherit;
    text-transform: capitalize;
    color: rgb(49, 66, 218);
    border-style: outset;
   
}

#seeTasks{
   text-align: left;
   border-style: double;

}

li{
    border-style: double;
}

#addBtn{
    text-align: center;
    border-style: double;

}

#taskInput{
    text-align: center;
    border-style: double;
}

.deleteBtn:hover{
    background-color: red;
    
}

.deleteBtn{
    float: right;
}