.incompleteBtn{
    background-color: green;
    border-radius: 12px

}
.completeBtn {
    background-color: grey ;
    border-radius: 12px
}


.headerClass{
    text-align: center;
    text-transform: inherit;
    text-transform: capitalize;
    color: rgb(49, 66, 218);
    border-style: outset;
   
}

#seeTasks{
   text-align: center;
   border-style: double;

}

li{
    border-style: double;
}

#addBtn{
    text-align: center;
    border-style: double;

}

#taskInput{
    text-align: center;
    border-style: double;
}
